<div class="container">
  <div class="container2">
    <div class="flex-allitem d-flex flex-row justify-content-md-center">
      <img
        src="https://cdn.sstatic.net/Img/home/illo-code.svg?v=b7ee00fff9d8"
        class="img1 t128 mt128"
        alt=""
      />

      <div class="flex-item">
        <div class="flex-box1">
          <h4>
            Find the best answer to your technical question, help others answer
            theirs
          </h4>
          <a
            routerLink="/login"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
          >
            <button class="btn1 btn btn-primary" type="submit">
              join our community
            </button>
          </a>
        </div>
      </div>
      <div class="flex-item">
        <div class="flex-box2">
          <h4>Want a secure, private space for your technical knowledge?</h4>
          <a
            routerLink="/login"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
          >
            <button class="btn2 btn btn-primary" type="submit">
              join our community
            </button>
          </a>
        </div>
      </div>
      <img
        src="https://cdn.sstatic.net/Img/home/illo-code.svg?v=b7ee00fff9d8"
        class="img2 tn128 mt128"
        alt=""
      />
    </div>
    <h1 class="d-flex justify-content-md-center text-light">Every</h1>
    <h1 class="d-flex justify-content-md-center text-warning">Developer</h1>
    <h1 class="d-flex justify-content-md-center text-light">
      Has a tab open to
    </h1>
    <h1 class="d-flex justify-content-md-center text-light">DoConnect</h1>

    <span class="d-block bg-white mx-auto"><hr /></span>
    <div class="flex-allitem2 d-flex flex-row justify-content-center my-2">
      <div class="flex2-items justify-content-center my-2">
        <div class="fs-title d-flex justify-content-center my-2 text-light">
          <h2>10+</h2>
        </div>
        <div class="fs-title2 d-flex justify-content-center my-2 text-light">
          monthly visitors to DoConnect
        </div>
      </div>
      <div class="flex2-items justify-content-center my-2 text-light">
        <div class="fs-title d-flex justify-content-center my-2">
          <h2>41k +</h2>
        </div>
        <div class="fs-title2 d-flex justify-content-center my-2">
          Times a developer got help since 2022
        </div>
      </div>
      <div class="flex2-items my-2 text-light">
        <div class="fs-title d-flex justify-content-center my-2">
          <h2>179% ROI</h2>
        </div>
        <div class="fs-title2 d-flex justify-content-center my-2">
          from companies using DoConnect for Teams
        </div>
      </div>
      <div class="flex2-items my-2 text-light">
        <div class="fs-title d-flex justify-content-center my-2">
          <h2>5,000+</h2>
        </div>
        <div class="fs-title2 d-flex justify-content-center my-2">
          DoConnect teams active everyday
        </div>
      </div>
    </div>

    <div class="flex--button d-flex justify-content-center">
      <a
        routerLink="/login"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
      >
        <button type="submit" class="btn3 btn btn-primary">Get Start</button>
      </a>
    </div>
  </div>
</div>
