.body {
    background-color: rgb(250, 250, 250);
    width: 100%;
    height: 100%;
}

.login {
    background-color: white;
    width: 30%;
    margin: auto;
    border: 1px solid rgb(188, 171, 171);
    margin-top: 50px;
}

.email {
    padding: 40px 60px;
    margin-top: 10px;
}

.email h2 {
    text-align: center;
   /* font-family: 'Courier New', Courier, monospace; */
    font-weight: 500;
    color: rgb(92, 92, 124);
    margin-bottom: 20px;
}

.loginButton {
    margin: 0 60px;
    text-align: center;
}

Button:hover {
    background-color: rgb(74, 74, 237);
}

p {
    text-align: center;
    margin: 30px 0 60px 0;
}

a {
    width: auto;
}